link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src="https://code.jquery.com/jquery-3.1.0.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
nav(class="navbar navbar-default")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand" href="#") Brand
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
                li(class="active")
                    a(href="#") Link
                        span(class="sr-only") current
                li
                    a(href="#") Link
                li
                    a(href="#") Link