body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#challenges {
    padding-top: 10px;
}

.listing-challenge-time {
  float: right;
}

.listing-player-rating {
  margin-left: 10px;
}

.listing-player-name{
  float: right;
}
